<footer id="footer">
    <div class="list">
        <h3>Modelos</h3>
        <mat-divider></mat-divider>
        <br>
        <p>Solicitar ofertas</p>
        <p>WLTP</p>
        <p>Electromovilidad</p>
    </div>
    <div class="list">
        <h3>Financiacion y compra</h3>
        <mat-divider></mat-divider>
        <br>
        <p>Renting</p>
        <p>Prueba de conduccion</p>
        <p>Heycar</p>
    </div>
    <div class="list">
        <h3>Servicios y accesorios</h3>
        <mat-divider></mat-divider>
        <br>
        <p>Inspecciones</p>
        <p>myAudi</p>
        <p>Servicios para profesionales</p>
    </div>
</footer>