<section class="modelos" id="modelos">
    <button class="modelos-btn">Ver Modelos</button>
    <img class="banner" src="../../assets/Audi-banner.jpg" alt="Audi">
</section>
<section class="promociones" id="promociones">
    <div class="caja">
        <h2 class="titulo">Promociones Audi</h2>
        <p class="texto">Encuentra las mejores promociones de nuestra red oficial de concesionarios Audi y aprovechalas antes de que finalicen.</p>
        <button class="btn-promociones" mat-stroked-button>Ver promociones</button>
    </div>
    <img src="../../assets/audi-promos.jpg" alt="audi-promos">
</section>
<section class="seccion-destacados" id="destacados">
    <h2 class="subtitulo">Contenidos destacados</h2>
    <div class="destacados">
        <div class="card">
            <mat-card class="example-card">
                    <img src="../../assets/audi-1.jpg" alt="audi-1" class="destacados-img">
                <mat-card-content>
                    <p>El Audi que querías, ahora con unas condiciones irrepetibles. Aprovéchalas y llévatelo sin esperas, revisado por nuestros expertos y con garantía oficial Audi.</p>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="card">
            <mat-card class="example-card">
                    <img src="../../assets/audi-2.jpg" alt="audi-2" class="destacados-img">
                <mat-card-content>
                    <p>Sin entrada y con una única cuota mensual durante 48 meses que incluye mantenimiento, asistencia en carretera y servicio de seguro y complementario de reparaciones. Promoción limitada a 67 unidades.</p>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="card">
            <mat-card class="example-card">
                    <img src="../../assets/audi-3.jpg" alt="audi-3" class="destacados-img">
                <mat-card-content>
                    <p>Si buscas mucho más que un automóvil, nuestra sofisticada gama Superpremium te ofrece innovaciones extraordinarias y una deportividad superior.</p>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
</section>
